
.page-content {
  ol {
    li {
      + {
        li {
          margin-top: 10px;
        }
      }
    }
  }

  ul {
    li {
      + {
        li {
          margin-top: 10px;
        }
      }
    }
  }
}



.footer-widget.widget.widget_nav_menu {
  ul {
    li {
      + {
        li {
          margin-top: 15px;
        }
      }
    }
  }
}
