---
import LayoutPage from "@/layouts/LayoutPage.astro";
import Form from "@/components/species/Form.astro";
import { useTranslations } from "@/i18n/utils";
import { getLang } from "@/i18n/utils";
import { getPageData } from "@/server/services/getPageData";

const lang = getLang(Astro.url);
const t = useTranslations(lang);
const { dataLang: data, error } = (await getPageData(
  "Book_a_free_class",
  lang,
)) as any;

const dataForm = [
  {
    type: "hidden",
    name: "model",
    value: "form_book_a_free_class",
  },
  {
    type: "text",
    name: "full_name",
    placeholder: t("form.fields.fullname"),
    required: true,
    icon: "fa-solid fa-user",
  },
  {
    type: "email",
    name: "email",
    placeholder: t("form.fields.email"),
    required: true,
    icon: "fa-solid fa-envelope-open",
  },
  {
    type: "tel",
    name: "phone",
    placeholder: t("form.fields.phone"),
    required: true,
    icon: "fa-solid fa-phone",
  },
  {
    type: "text",
    name: "shedule_class",
    placeholder: t("applyonline.form.fields.classes"),
    icon: "fa-solid fa-clock",
  },
  {
    type: "text",
    name: "nationality",
    placeholder: t("applyonline.form.fields.nationality"),
    required: false,
    icon: "fa-solid fa-earth-africa",
  },
  {
    type: "text",
    name: "live_in",
    placeholder: t("applyonline.form.fields.live"),
    required: false,
    icon: "fa-solid fa-calendar-days",
  },
  {
    type: "textarea",
    name: "description",
    widthFull: true,
    placeholder: t("applyonline.form.fields.description"),
  },
];

if (error) {
  return Astro.redirect("/500");
}
---

<LayoutPage
  title={data?.title}
  description={data?.description?.slice(0, 145) + "..."}
>
  <div
    class="contact-us-wrapper single-page-section-top-space single-page-section-bottom-space margin-top-110"
  >
    <div class="breadcrumb-wrap style-01">
      <div class="container custom-container-01">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcrumb-content">
              <h3 class="title">{data?.title}</h3>
            </div>
            <div class="paragraph" set:html={data?.description} />
          </div>
        </div>
      </div>
    </div>
    <section class="apply-form-area-wrapper">
      <div class="container custom-container-01">
        <div class="row">
          <div class="col-lg-12">
            <div class="apply-form-inner">
              <div class="row justify-content-between">
                <div class="col-lg-12">
                  <div class="contact-form">
                    <Form
                      title={t("form.title")}
                      fields={dataForm}
                      classesCols="col-md-6 col-lg-4 py-3"
                      submitLabel={t("applyonline.form.btn.label")}
                      formSettings={{
                        method: "POST",
                        action: "/api/form/v1/submit",
                        id: "bookFreeClassForm",
                      }}
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</LayoutPage>
