/*-------------------------
    About elements
-------------------------*/
@use "../global/variables" as *;

.about-content {
    .subtitle {
        font-size: 16px;
        line-height: 1.3;
        font-weight: 600;
        color: var(--main-color-one);
        margin-bottom: 30px;
        text-transform: uppercase;
    }

    .content-title {
        font-family: var(--heading-font);
        font-size: 45px;
        line-height: 60px;
        font-weight: 600;
        color: var(--main-color-two);
        margin-bottom: 23px;
    }

    .paragraph,
    .paragraph * {
        margin-bottom: 27px;
    }

    .icon-box-with-text-wrap {
        margin-top: 40px;
    }

    .btn-wrap {
        margin-top: 70px;
    }

    &.padding-left {
        padding-left: 70px;
    }

    &.padding-right {
        padding-right: 70px;
    }
}

.thumbnail {
    .right-frame {
        position: relative;
        z-index: 1;
        text-align: right;
        display: inline-block;

        img {
            padding-left: 55px;
            padding-right: 20px;
            max-width: 100%;
        }
    }

    .left-frame {
        position: relative;
        z-index: 1;
        text-align: right;
        display: inline-block;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-position: top right;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 9;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: calc(100% - 25px);
            height: 100%;
            background-color: #FFC44E;
            z-index: -1;
        }

        img {
            padding-top: 55px;
            padding-left: 65px;
        }
    }
}

.about-section-area {
    .thumbnail {
        text-align: right;
    }
}