.lang-selector {
  position: relative;
  display: inline-block;
  margin-left: 15px;

  & img {
    border-radius: 999px;
    width: 30px;
    height: 30px;
    aspect-ratio: 1/1;
    object-fit: cover;
    cursor: pointer;
  }

  .list-langs {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    padding-inline: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    top: 17px;
    left: -70px;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    pointer-events: none;
    z-index: -2;

    &.show {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      z-index: 999;
    }

    .lang {
      display: flex;
      gap: 5px;
      justify-content: center;
      align-items: center;
      padding: 10px;
      cursor: pointer;
      transition: .3s;

      &:hover {
        background-color: #f5f5f5;
      }

      & span {
        white-space: nowrap;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 1;
      }
    }
  }
}