/*----------------------------------------
  ## Search Popup
----------------------------------------*/
@use "../global/variables" as *;

.search-popup.active .search-form {
    visibility: visible;
    opacity: 1;
}

.search-popup .search-form {
    /* position: absolute; */
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    visibility: hidden;
    opacity: 0;
    z-index: 999;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 15px;
}

.search-popup .search-form .form-group {
    flex: 0 0 90%;
    max-width: 90%;
}

.search-popup .search-form .close-btn {
    flex: 1 1 10%;
    max-width: 100%;
    height: 100px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 25px;
    color: #fff;
    background: var(--main-color-one);
}

.search-popup .search-form .form-group .form-control {
    border: none;
    border-radius: 6px;
    height: 100px;
    padding: 0 100px 0 30px;
}

.search-popup .search-form .submit-btn {
    position: absolute;
    right: -15px;
    top: -20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-color: var(--hover-color);
    background-color: var(--hover-color);
    transition: $transition;
    padding: 0;
    text-align: center;

    span {
        color: $white;
        font-size: 20px;
    }
}

.body-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(13, 20, 34, 0.95);
    ;
    z-index: 9;
    content: "";
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVBAMAAABbObilAAAAMFBMVEVMaXH////////////////////////////////////////////////////////////6w4mEAAAAD3RSTlMAlAX+BKLcA5+b6hJ7foD4ZP1OAAAAkUlEQVR4XkWPoQ3CUBQAL4SktoKAbCUjgAKLJZ2ABYosngTJCHSD6joUI6BZgqSoB/+Shqde7sS9x3OGk81fdO+texMtRVTia+TsQtHEUJLdohJfgNNPJHyEJPZTsWLoxShqsWITazEwqePAn69Sw2TUxk1+euPis3EwaXy8RMHSZBIlRcKKnC5hRctjMf57/wJbBlAIs9k1BAAAAABJRU5ErkJggg==), progress;
}

.body-overlay.active {
    visibility: visible;
    opacity: 1;
}

.click-mobile-search {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 5;
    width: 100%;
    padding: 20px;
    background: $white;
}

@media (max-width: 767px) {
    .search-popup .search-form .form-group {
        flex: 0 0 80%;
        max-width: 80%;
    }

    .search-popup .search-form .form-group .form-control {
        height: 60px;
        padding: 0 80px 0 20px;
    }

    .search-popup .search-form .close-btn {
        flex: 1 1 20%;
        max-width: 20%;
        height: 60px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}