---
import BannerTypeOne from "../species/BannerTypeOne.astro";

interface Props {
    phrase?: string;
    title: string;
    summary: string;
    titleList?: string;
    listLevels?: { icon: string; summary: string }[];
    button?: {
        label: string;
        link: string;
    };
    image: string;
}
const { ...props }: Props = Astro.props;
---

<div
    class="about-page-area-wrapper single-page-section-top-space"
>
    <BannerTypeOne {...props} imageLeft={false} />
</div>
