---
import SuscribeOurNewsLetter from "../orgnisms/SuscribeOurNewsLetter.astro";
import Menu from "@/components/species/Menu.astro";
import Copyright from "../species/Copyright.astro";
import directus from "@/server/directus";
import { readItems } from "@directus/sdk";
import { staticData } from "@/server/static-data";
import ContactList from "../species/ContactList.astro";
import { getLang, useTranslations } from "@/i18n/utils";
import { getMenuData } from "@/server/services/getMenuData";

const lang = getLang(Astro.url);
const dataMenu2 = await getMenuData("0", lang);
const dataMenu1 = await getMenuData("1", lang);

const t = useTranslations(lang);

const socialData = await directus?.request(readItems("info_contact"));
---

<footer class="footer-area style-01">
  <div class="footer-top">
    <div class="container custom-container-01">
      <SuscribeOurNewsLetter />
      <div class="footer-middle">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="footer-widget widget widget_nav_menu">
              <h4 class="widget-headline text-white">
                {t("footer.titles.menu1")}
              </h4>
              <Menu menuItems={dataMenu1} />
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="footer-widget widget widget_nav_menu">
              <h4 class="widget-headline text-white">
                {t("footer.titles.menu3")}
              </h4>
              <Menu menuItems={dataMenu2} />
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="footer-widget widget widget_nav_menu">
              <h4 class="widget-headline text-white">
                {t("footer.titles.contact")}
              </h4>
              <ContactList data={socialData} />
            </div>
          </div>
        </div>
      </div>
    </div>
    <Copyright />
  </div>
</footer>
