---
import directus, { directusMedia } from "@/server/directus";
import { readSettings } from "@directus/sdk";
import Menu from "@/components/species/Menu.astro";
import BtnsHeader from "../species/BtnsHeader.astro";
import { getMenuData } from "@/server/services/getMenuData";
import { getLang } from "@/i18n/utils";

const lang = getLang(Astro.url);
const dataMenuHeader = await getMenuData("0", lang);

const siteSettings = await directus.request(readSettings());
const logo = await directusMedia(siteSettings?.project_logo);
const favicon = await directusMedia(siteSettings?.public_favicon);
---

<header>
  <div class="nav-area-wrapper-relative">
    <nav class="navbar navbar-area navbar-expand-lg navigation-style-02">
      <div
        class="container custom-container custom-container-01 c-header-content"
      >
        <div class="responsive-menu">
          <div class="logo-wrapper">
            <a
              href={dataMenuHeader?.find(
                (e: any) => e.slug === "/" || e.slug === "/home",
              )?.slug || "/"}
              class="logo"
            >
              <img
                src={logo?.src_path || "assets/img/logos/logo.png"}
                alt="The Bogotá Spanish School"
                class="logo-desktop"
              />
              <img
                src={favicon?.src_path || "assets/img/logos/logo-mobile.png"}
                alt="The Bogotá Spanish School"
                class="logo-mobile"
              />
            </a>
          </div>
          <BtnsHeader class="btns-mobile" />
          <button
            class="navbar-toggler navbar-bs-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#themeim_main_menu"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="themeim_main_menu">
          <Menu
            menuItems={dataMenuHeader}
            withSubItems
            className="navbar-nav"
          />
        </div>
        <BtnsHeader class="btns-desktop" />
      </div>
    </nav>
  </div>
</header>
