---
import ItemCourse from "@/components/atoms/ItemCourse.astro";
import { routes } from "@/i18n/routes";
import type { languages } from "@/i18n/ui";
type L = keyof typeof languages;
import { to } from "@/i18n/utils";

type item = {
  icon: string;
  title: string;
  summary: string;
  button: {
    label: string;
    link: string;
  };
};

interface Props {
  phrase?: string;
  title?: string;
  items: item[];
  lang: L;
}

const { items, phrase, title = "", lang } = Astro.props;
---

<section class="features-section margin-top-100 courses-spanish">
  <div class="container custom-container-01">
    <div class="title-section theme-section-title">
      {
        phrase && (
          <p
            class="subtitle text-uppercase text-center"
            style={{ width: "100%" }}
          >
            {phrase}
          </p>
        )
      }

      <h2 class="title">
        {title}
      </h2>
    </div>
    <div class="row">
      {
        items?.map((item: any, i: number) => (
          <div class="col-lg-4 col-md-6">
            <ItemCourse
              {...item}
              classes={`item-${(i % 3) + 1}`}
              button={{ link: to(routes["spanish-courses"][lang as L], lang) }}
            />
          </div>
        ))
      }
    </div>
  </div>
</section>
