---
import NewsLetter from "@/components/species/NewsLetter.astro";
---

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="footer-widget widget widget_subscribe">
      <div class="subscibe-wrapper">
        <div class="content-wrap">
          <div class="icon">
            <img src="assets/img/messaje-icon.png" alt="" />
          </div>
          <div class="content">
            <h4 class="title">Subscribe our newsletter</h4>
            <p>
              Enter your mail address to get our updates, offer and study abroad
              related all updates
            </p>
          </div>
        </div>
        <NewsLetter />
      </div>
    </div>
  </div>
</div>
