//== Template Main Color
$white: #fff;
$red: #F32424;
$black: #000;
$yellow: #FFC44E;
$stock: #E4E4E4;
//== social media colors
$facebook: #3b5999;
$twitter: #55acee;
$dribbble: #ea4c89;
$behance: #131418;
$google-plus: #dd4b39;
$linkedin: #0077b5;
$instagram: #e4405f;

/*-----------------
    # Typography
-----------------*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

//  transition
$transition: all linear 0.2s;
$transition-long: all 0.5s ease-in;

// border 
$border: 1px solid #E4E4E4;