@use "../global/variables" as *;

.bg-colors-gradient {
    position: relative;
    z-index: 0;
    background: var(--main-color-one);

    & *:not(.btn-common) {
        color: #fff !important;
    }

    & .btn-common:hover {
        box-shadow: 2px 2px 8px #fff8;
    }
}

@media (min-width: 1200px) {
    .bg-colors-gradient.py-15 {
        padding-block: 100px !important;
    }
}