@use "../global/variables" as *;

.bg-colors-gradient {
    position: relative;
    z-index: 0;
    background-image: url(/assets/img/bg-main.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}