@use "../global/variables" as *;


.top-rated-section {
    .top-rated-title {
        p {
            font-size: 24px;
            line-height: auto;
            font-weight: 600;
            color: var(--heading-color);
            margin-bottom: 30px;
        }
    }

    .related-post-slider {
        overflow: hidden;
    }
}