// Courses Section Styling Here
@use "../global/variables" as *;

.courses-section-area {
    margin-top: 140px;

    .nav-pills {
        justify-content: center;
        margin-bottom: 55px;

        .nav-item {
            +.nav-item {
                margin-left: 50px;
            }

            .nav-link {
                padding: 0;
                border-radius: 0;
                font-size: 16px;
                line-height: 1.4;
                font-weight: 400;
                font-family: var(--heading-font);
                color: var(--heading-color);

                &.active {
                    color: var(--main-color-one);
                    background: none;
                }
            }
        }
    }
}


.course-slider-wrapper {
    margin: -30px;

    &.style-01 {
        margin-left: 52px;
    }
}

.course-slider-one {
    overflow: hidden;
    padding: 30px;

    .swiper-notification {
        display: none;
    }
}