// Features Section Styling Here
.features-section {
    position: relative;
    z-index: 0;

    &.home-two {
        margin-top: 140px;

        .theme-section-title {
            margin-bottom: 45px;

            .title {
                margin-bottom: 32px;
            }
        }

        .thumbnail {
            text-align: right;
        }
    }

    &.style-01 {
        .theme-section-title {
            .title {
                margin-bottom: 30px;
            }

            p {
                margin-bottom: 30px;
            }
        }
    }

    .shape {
        position: absolute;
        z-index: -1;
        bottom: -157px;
        left: 75px;
    }
}

.courses-spanish {
    margin-bottom: 11pc;
    margin-top: 0 !important;

    .title-section {
        * {
            text-align: center;
        }

        .title {
            font-weight: 700;
            margin-bottom: 4rem;
        }

        .paragraph {
            color: var(--main-color-one);
        }
    }
}

@media (max-width: 768px) {
    .features-section {
        .shape {
            bottom: -97px;
            left: 0 !important;
            max-width: 200px !important;
        }
    }

    .courses-spanish {
        margin-bottom: 7pc;
    }
}