// Feedback Section Styling here
.feedback-section {
    position: relative;
    z-index: 0;

}

.item-video-student, .item-video-student .thumbnail {
    min-height: 350px;
    height: 100% !important;
}