@use "../global/variables" as *;

/*-------------------------
    Footer Area
-------------------------*/

.footer-top {
    background-color: var(--heading-color);

    &.style-01 {
        margin-top: 140px;
    }
}

.footer-middle {
    border-top: 1px solid #e4e4e42e;
    padding-top: 60px;
}

.copyright-area {
    background-color: $black;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .copyright-area-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 0px;

        p {
            font-size: 14px;
            line-height: 1.5;
            font-family: var(--body-font);
            font-weight: 400;
            color: rgba($color: $white, $alpha: 0.7);
            margin-bottom: 0;

            span {
                font-weight: 600;
            }
        }
    }
}

.footer-area.style-01 {
    .footer-top {
        padding-top: 140px;
    }

    .widget.widget_subscribe .subscibe-wrapper .content-wrap .content {
        margin-left: 40px;
        flex: 1;
    }

    .content-wrap {
        img {
            max-width: 85px;
            max-height: 90px;
        }
    }

    .subscribe-form {
        margin-right: 0;

        .form-group {
            display: flex;
            width: 100%;
            min-width: 600px;
            max-width: 100%;

            input {
                flex: 1;
                border-top-right-radius: 0 !important;
                border-bottom-right-radius: 0 !important;
                padding: 20px !important;
                max-width: 100% !important;
            }

            .btn-wrap {
                width: 188px;

                a {
                    height: 80px;
                    border-top-left-radius: 0 !important;
                    border-bottom-left-radius: 0 !important;
                    width: 100%;
                    background-color: #F32424;
                    display: block;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 80px;
                    text-transform: capitalize;
                    color: #fff;
                    text-align: center;
                    border-radius: 0 15px 15px 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        display: inline-block;
                        padding-right: 10px;
                    }
                }
            }
        }

        .popup-message {
            pointer-events: none;
            background-color: #efefef;
            padding: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 200px;
            width: 100%;
            max-width: 310px;
            border-radius: 20px;
            box-shadow: 2px 3px 8px #fff9;
            position: fixed;
            z-index: 9999999999999;
            left: 50%;
            transform: translateX(-50%) translateY(200px);
            top: 40%;
            opacity: 0;
            transition: none;

            &.show {
                animation: showMessage 2.95s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards;
            }

            .icon {
                padding: 20px;
                border-radius: 9999px;
                background-color: #02ce3586;
                margin-bottom: 30px;

                i {
                    color: #fff;
                    font-size: 30px;
                }
            }

            .text {
                font-size: 23px;
                font-weight: 600;
                text-align: center;
            }
        }
    }
}

@keyframes showMessage {
    0% {
        transform: translateX(-50%) translateY(200px);
        opacity: 0;
    }

    20% {
        transform: translateX(-50%) translateY(0);
        opacity: 1;
    }

    80% {
        transform: translateX(-50%) translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(200px);
        opacity: 0;

    }
}