/*----------------------------
   Top Bar Area Styling Her
----------------------------*/

.topbar-area {
    background-color: #F9F9F9;
    padding: 20px 0px;
}


.contact-info-item {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        display: inline-block;

        +li {
            margin-left: 60px;
        }

        .info-items {
            display: flex;

            .icon {
                font-size: 16px;
                color: var(--main-color-one);
                margin-right: 10px;
            }

            .content {
                .title {
                    font-size: 15px;
                    font-weight: 400;
                    margin-bottom: 0;
                }
            }
        }
    }
}


.author-meta {
    display: flex;
    align-items: center;

    .thumbnail {
        margin-right: 20px;
    }

    .content {
        .author-name {
            font-size: 16px;
            line-height: 1.5;
            font-weight: 500;
            color: var(--heading-color);
            display: block;
            margin-bottom: 10px;
        }

        .designation {
            font-size: 16px;
            line-height: 1.3;
            font-weight: 400;
            margin-bottom: 0;
            color: var(--paragraph-color);
        }
    }
}

.meta-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}