---
import { to, getLang } from "@/i18n/utils";
const lang = getLang(Astro.url);
---

  <div class="taster-session-spanish-courses-wrapper">
    <div class="container">
      <h2 class="title">Booking a free taster session</h2>
      <p class="summary">Book a free taster session today and let’s discuss how we can help you achieve your Spanish language goals!</p>
      <div class="btn">
        <a href={to('/book-a-free-class', lang)}>
          Book a Free Class
        </a>
      </div>
    </div>
  </div>