---
interface Props {
  id?: number;
  label: string;
  slug: string;
  hasItems: boolean;
  isActive?: boolean;
}

const { label, slug, hasItems = false, isActive = false, id } = Astro.props;

const pathItem = (slug.startsWith('/') || slug.startsWith('http')) ? slug : `/${slug}`;
---

<li
  class={`link ${hasItems ? "menu-item-has-children" : ""} ${isActive ? "current-menu-item" : ""}`}
  aria-label={id?.toString() || label}
>
  <a href={pathItem} target="_self">{label}</a>

  {
    hasItems && (
      <ul class="sub-menu">
        <slot />
      </ul>
    )
  }
</li>
