---
type Number = {
  code: string;
  number: string;
  message?: string;
};

interface Props {
  numbers: Number[];
}

const {numbers} = Astro.props;
const n = numbers?.[0];
---

<div id="whatsappWrapper" class="whatsapp-container">
 <div class="btn-whatsapp-floating">
  <a
    class="num-btn"
    href={`https://wa.me/${n?.code + n?.number}?text=${encodeURIComponent(n?.message || "")}`}
    target="_blank"
  >
   <i class="fa-brands fa-whatsapp" style="color: white; font-size: 28px;"></i>
  </a>
 </div>

</div>
