---
import BtnWrap from "@/components/atoms/BtnWrap.astro";
import { staticData } from "@/server/static-data";
interface Props {
  class?: string;
}
---

<div id="btnsHeader" class=`nav-right-content ${Astro.props.class || ''}`>
  <div class="icon-part">
    <ul>
      <li id="search">
        <a href="#">
          <i class="fa-solid fa-magnifying-glass text"></i>
        </a>
      </li>
    </ul>
  </div>
  <BtnWrap
    label={staticData.header.btn}
    class="btn-common nav-btn"
    type="link"
    link="/book-a-free-class"
  />
</div>
