---
import BtnWrap from "@/components/atoms/BtnWrap.astro";
import { staticData } from "@/server/static-data";
import Lang from "../atoms/Lang.astro";
import { getLang, useTranslations } from "@/i18n/utils";
import { languages } from "@/i18n/ui";
interface Props {
  class?: string;
}

type L = keyof typeof languages;

const lang = getLang(Astro.url);
const t = useTranslations(lang);

const langs = Object.keys(languages)?.map((key) => ({
  flag: "/assets/img/logos/" + key + ".png",
  value: key,
}));
---

<div id="btnsHeader" class=`nav-right-content ${Astro.props.class || ''}`>
  <div class="icon-part">
    <ul>
      <li id="search">
        <a href="#">
          <i class="fa-solid fa-magnifying-glass text"></i>
        </a>
      </li>
    </ul>
  </div>

  <BtnWrap
    label={t("spanish-courses.btnlabel")}
    class="btn-common nav-btn text-secondary text-white-hover"
    type="link"
    link={t("spanish-courses.btnlink", [{ key: "LANG", value: lang }])}
  />
  <Lang langs={langs}/>
</div>
