---
import Social from "./Social.astro";
import { readItems } from "@directus/sdk";
import directus from "@/server/directus";
import { getLang, useTranslations } from "@/i18n/utils";

const lang = getLang(Astro.url);

const t = useTranslations(lang);

const dataSocial = (await directus?.request(readItems("info_contact"))) as any;
---

<div class="copyright-area">
  <div class="container custom-container-01">
    <div class="row">
      <div class="col-lg-12">
        <div class="copyright-area-inner">
          <p>
            © {new Date().getFullYear()}. {t("footer.copyright")}
            <a
              href="https://www.imaginacolombia.com/"
              target="_blank"
              rel="noopener noreferrer"><span>Imagina</span></a
            >
          </p>
          <div class="footer-social-area">
            <Social data={dataSocial?.social || []} classes="social-icon-02" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
