---
import BtnWrap from "../atoms/BtnWrap.astro";
import { getLang, useTranslations } from "@/i18n/utils";

const lang = getLang(Astro.url);
const t = useTranslations(lang);
---

<div class="subscribe-form">
  <div class="form-group">
    <input
      type="email"
      value=""
      name="emailnewsletter"
      placeholder={t("footer.newsletter.form.input")}
      class="form-control"
      required="true"
      aria-required="true"
    />
    <BtnWrap
      class="subscribe-btn action-suscribe bg-primary text-white"
      label={t("footer.newsletter.form.button")}
      icon="fa-regular fa-bell"
    />
  </div>

  <div class="popup-message">
    <div class="icon">
      <i class="fa-solid fa-check"></i>
    </div>
    <div class="text">{t("footer.newsletter.subscribed")}</div>
  </div>
</div>