---
const { title, description } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href="assets/img/logos/logo-mobile.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="generator" content={Astro.generator} />
  <meta name="description" content={description} />
  <link rel="canonical" href={Astro.request.url} />
  <title>{title}</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/src/styles/main.css" />
</head>
