---
const { title, description } = Astro.props;
import Header from "@/components/orgnisms/Header.astro";
import Head from "@/layouts/Head.astro";
import Footer from "@/components/orgnisms/Footer.astro";

// Lang site
const lang = Astro.params.lang || "en-US";
---

<html lang={lang}>
	<Head title={title} description={description} />
	<body>
			<div id="imGrapper">
				<div id="imContent">
					<!-- preloader area start -->
					<div class="preloader" id="preloader">
						<div class="preloader-inner">
							<div class="loader"></div>
						</div>
					</div>
					<!-- preloader area end -->

					<!--  search Popup start -->
					<div class="body-overlay" id="body-overlay"></div>
					<div class="search-popup" id="search-popup">
						<form action="index.html" class="search-form d-flex">
							<div class="form-group">
								<input
									type="text"
									class="form-control"
									placeholder="Search....."
								/>
							</div>
							<button class="close-btn border-none"
								><i class="fas fa-search"></i></button
							>
						</form>
					</div>
					<!-- Search Popup End -->
					<main class="page-wrapper">
					<Header />
							<slot />
					<Footer />
					</main>
				</div>
			</div>

		<!-- Scripts Load -->

		<!-- Font Awesome -->
		<script
			src="https://kit.fontawesome.com/56d3d5dce0.js"
			crossorigin="anonymous"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/js/v4-shims.min.js"
			integrity="sha512-pd9YFLsGdZIRG1ChLLdpxgGT+xR7rVjsHqm6RP0toUadPB4XZZ7LlqzX3IhnpMd2Cb8b2s8yVFwY21epgr84qw=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"></script>

		<!-- Bootstrap.min.js -->
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.min.js"
			integrity="sha512-a6ctI6w1kg3J4dSjknHj3aWLEbjitAXAjLDRUxo2wyYmDFRcz2RJuQr5M3Kt8O/TtUSp8n2rAyaXYy1sjoKmrQ=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"></script>

		<!-- custom scripts -->
		<script is:inline src="/assets/js/custom.js"></script>
		<script is:inline src="/assets/js/datepicker.min.js"></script>
		<script is:inline src="/assets/js/imagesloaded.pkgd.min.js"></script>
		<script is:inline src="/assets/js/isotope.pkgd.min.js"></script>
		<script is:inline src="/assets/js/jquery-3.6.0.min.js"></script>
		<script is:inline src="/assets/js/jquery.countdown.min.js"></script>
		<script is:inline src="/assets/js/jquery.magnific-popup.js"></script>
		<script is:inline src="/assets/js/jquery.nice-select.js"></script>
		<script is:inline src="/assets/js/jQuery.rProgressbar.min.js"></script>
		<script is:inline src="/assets/js/jquery.waypoints.js"></script>
		<script is:inline src="/assets/js/main.js"></script>
		<script is:inline src="/assets/js/odometer.min.js"></script>
		<script is:inline src="/assets/js/slick.min.js"></script>
		<script is:inline src="/assets/js/swiper.min.js"></script>
		<script is:inline src="/assets/js/viewport.jquery.js"></script>
		<script is:inline src="/assets/js/wow.min.js"></script>

		<!-- End Scripts Load -->
	</body>
</html>
