.button-icon {
  color: #777 !important;
  position: relative;
  top: -10px;
  width: 30px !important;
}



@media (max-width: 991.98px) {

  ul {
    padding-left: 20px;
  }

  .custom-page-content .item-category .category::after {
    bottom: 26px;
    left: -5px;
    width: 23%;
    height: 22px;
  }
}

@media (max-width: 768px) {
  .custom-page-content .item-category .category {
    font-size: 15px !important;
  }

  .item-date .date {
    font-size: 14px !important;
  }

  .custom-page-content .item-category .category::after {
    bottom: 26px;
    left: -5px;
    width: 28%;
    height: 23px;
  }
}